<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MemberAccountServlet</servlet-name>
        <servlet-class>controller.MemberAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodServlet</servlet-name>
        <servlet-class>controller.FoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checklogin</servlet-name>
        <servlet-class>controller.checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <servlet-class>controller.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberAccountServlet</servlet-name>
        <url-pattern>/MemberAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodServlet</servlet-name>
        <url-pattern>/FoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checklogin</servlet-name>
        <url-pattern>/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <url-pattern>/UpdateFoodServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
